<!-- withdraw.html -->
{% extends "main/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Withdraw Funds</h2>
        <div class="container mt-5">
          {% if messages %}
          <div class="alert alert-danger" role="alert">
              <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
          </div>
          <a href="{% url 'withdraw' %}" class="btn btn-secondary">Try again</a>
          {% else %}
          <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="amount" class="form-label">Amount</label>
                  <input type="text" class="form-control" id="amount" name="amount">
              </div>
              <button type="submit" class="btn btn-primary">Withdraw</button>
          </form>
          {% endif %}
      </div>

{% endblock %}
